header{
    width: 100%;
    height:70px;
    background-color: #007226;
    display:flex;
}
a, a:hover{
    color:#fff;
    text-decoration: none;
}
.logo-img{
    margin-right:12px;
}

.logo-name{
    color:#fff;
    margin-top: 6px;
    font-family: 'Mali';
}

.caption{
    font-size:19px;
    color: #fff;
}

.leftMenu{
    background-color: #252629;
    width:100%;
    min-width:210px;
    height: calc(100vh - 70px);
    overflow-y: auto;
}

.favteamIco{
    margin: 0px 15px 0 20px;
}

.bghead{
    background-color: #32383e;
    padding-top:20px;
    padding-bottom:10px;
    display:flex;
}

.leagueBox{
    background-color: #252629;
    width:100%;
    height:60px;
    cursor: pointer;
}
.leagueBox:hover{
    background-color: #007226;
}

.topTeams{
    justify-content: left;
    display:flex;
}
.container span{
    font-size:18px !important;
}
.scrollable {
    height: calc(100vh - 129px);
    overflow-y: auto;
}
.table-dark{
    background-color: #252629;
}
.table-header{
    width:100%;
    padding-top: 9px;
    height:59px;
    background-color: #252629;
}
.table{
    margin-bottom: 0px;
}
.team{
    cursor: pointer;
}
.team:hover{
    background: #32383e;
}
.teamList{
    padding-left:15px;
}
.singleTeam{
    padding:12px 0 12px 0;
    cursor: pointer;
}
.singleTeam:hover{
    color: #00be19;
}
.teamInfo{
    color: #252629;

    padding-top: 3px;
}
.teamInfo a{
    color: #252629;
}